<h1>Public Information</h1>
<h2>Public Name</h2>
Enter a name that identifies you. You may want to enter your real name, or an alias, depending upon what you want visible to the public.<p/>
<%= form_for(store) do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <%= f.text_field :name %>
  </div>
<p>
<label>
<%= f.check_box :use_fb_name %>
Use Facebook Name
</label>
</p>

  
  
  <p>
    <h2>Public Image</h2>
    Upload a public picture that identifies you.
    <br/>
    <%= image_tag(store.avatar_url) if store.avatar? %><br/>
    <%= f.file_field :avatar %>

  <p>
<label>
<%= f.check_box :remove_avatar %>
Remove avatar
</label>
</p>
    <%= f.hidden_field :avatar_cache %>
  </p>


<p>
<label>
<%= f.check_box :use_fb_avatar %>
Use Facebook Profile Picture
</label>
</p>


<table>
<tr>
<td><b>Who can see your profile</td>
</tr>
<% store.store_user_groups.each do |g| %>
<tr>
<td>
<%= g.name %>
</td>
</tr>
<% end %>
</table>


<br>
   <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
