<h1>My Store's Public Image</h1>
<h2>Public Name of Owner</h2>
Enter a name that identifies the owner (that's you) of the items for rent.  You may want to enter your real name, or an alias, depending upon what you want visible to the public.<p/>
<%= form_for(store) do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <%= f.text_field :name %>
  </div>
  
  
  <p>
    <h2>Public Image of Owner</h2>
    Upload a public picture that identifies your store.
    <br/>
    <%= image_tag(store.avatar_url) if store.avatar? %><br/>
    <%= f.file_field :avatar %>

  <p>
<label>
<%= f.check_box :remove_avatar %>
Remove avatar
</label>
</p>
    <%= f.hidden_field :avatar_cache %>
  </p>
<table>
<tr>
<td><b>Who can visit your store</td>
</tr>
<% store.store_user_groups.each do |g| %>
<tr>
<td>
<%= g.name %>
</td>
</tr>
<% end %>
</table>


<br>
   <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
