<div id="container">
		<div id="side-a">
     <%= render :partial => "shared/store_sidebar", :locals => { :store => @store } %>
     <br/>
     <div class="fb-like" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true" />

        </div></div>		
		<div id="content">
 	  <% @items.each_with_index do |item, index | %>
	  <%=  raw "<div id='homepage_item' onmouseover='selectMarker(#{index});'>" %>
	  
	    <div id="item_search_result_picture">
	    	<% if !item.photos[0].nil? %>
	      <%= link_to image_tag(item.photos[0].image.thumb.url), rent_path(item) %>
	      <% end %>
	    </div>
	    <div id="item_search_result"> 
		  <div id="item_search_result_details" >
                      <div id="item_search_result_price"  >
	            <% if !item.cost.nil? %>
                  <%= item.cost %>
	            <% end %>

           </div>
 
              <div id="item_search_result_text"  >
	            <h2>  <%= link_to item.title , rent_path(item) %>  </h2>
	
	            <p>
	            <% if !item.zipcode.nil? %>
                  Zip Code:  <%= item.zipcode.name %> <br/>
                <% else %>
                  Location: <%= item.location %> <br/>
	            <% end %>
	   	        </p><p>Item.Reviews<br/>
	            Item.Endorsements</p>
	          </div>
 
	      </div>
	 
        </div>     
       </div>  
	  <% end %>
<%= paginate @items %>

</div>

<div id="side-b">
(Similar Listings)
</div>
</div>
</div>
<%= render :partial => "shared/fb_root" %>


		</div>
		
		<div id="side-b">
	
		</div>
	</div>
</div>
