<div>	
	  <div id="wrapper" class="clearfix">
		<div id="twocols"> 
			<div id="maincol">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>




  <div data-hook="homepage_sidebar_navigation">
    <table>
	<tr>
	    <th><form accept-charset="UTF-8" action="/rents/new" method="get" style="margin:0;padding:0;display:inline">
					<button  type="submit" style="float:left;"  >
		Add Rental
		</button>
		</form>
		</th>
	  </tr>
	<% @items.each_with_index do |item, index | %>
	  <tr>
	     <td>
	<%=  raw "<div id='homepage_item_title' onmouseover='selectMarker(#{index});'>" %>
	        <%= link_to item.title , rent_path(item) %>
	      </div>
	     </td>
	     </tr>

	     
	<% end %>
	</table>
 </div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>

 
<script>(function($){
 $(document).ready(function(){

	// do stuff when div is ready
	var latlng = new google.maps.LatLng( 45.60, -122.60 );
	var myOptions = {
	  zoom: 8,
	  center: latlng,
	  disableDefaultUI: true,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	mMap = new google.maps.Map(document.getElementById("map_canvas"),
	    myOptions);
	    
	    
	loadMarkers();
	    
    	     
		
 });
})(jQuery);

    
 <%=  raw " mItems = #{@items.to_json};" %> 

      var pinColor = "FE7569";
      var pinColorSelected = "00FE69";
      var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
         new google.maps.Size(21, 34),
         new google.maps.Point(0,0),
         new google.maps.Point(10, 34));
      var pinImageSelected = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColorSelected,
         new google.maps.Size(21, 34),
         new google.maps.Point(0,0),
         new google.maps.Point(10, 34));

    selectIndex = -1;
    
    function  getItemLatLon(i)
    {
       var r1 = Math.floor(Math.random()*100);
	   var lat = 45.60 + ( (r1-50) * 0.005);
	   var r2 = Math.floor(Math.random()*100);
	   var lon = -122.60 + ((r2-50) * 0.005); 
	   return myLatlng = new google.maps.LatLng( lat, lon); 
    }
	function markerClick( mark )
	{
	    for ( var m = 0; m < mMarkers.length; ++m )
	    {
	        if ( mMarkers[m] == mark ) 
	        {
	             selectMapItem(m);
	             return;
	        }
	    }
	}
	

  	function selectMarker(i)
  	{
  		
	   if ( selectIndex > -1 ) {
	     j = selectIndex;
	     mMarkers[j].setMap(null);
	     latlon = getItemLatLon(j);
  	     mMarkers[j] = new google.maps.Marker({
         	    position: latlon,
	            map: mMap,
	            title:'title',
	            icon: pinImage });
  	     mMarkers[j].setMap(mMap);   	   

	   }
       latlon = getItemLatLon(i);
  	   mMarkers[i].setMap(null);
  	   mMarkers[i] = new google.maps.Marker({
         	    position: latlon,
	            map: mMap,
	            title:'title',
	            icon: pinImageSelected });
  	   mMarkers[i].setMap(mMap);  
  	   google.maps.event.addListener(
	       mMarkers[i], 'click', function() { markerClick(this); });
	        	   
  	   selectIndex = i;
  	}
  	
	function loadMarkers() {
	
	  mMarkers = new Array();
	  var i = 0;
	   for ( item in mItems ) {
	    
         var r1 = Math.floor(Math.random()*100);
	       var lat = 45.60 + ( (r1-50) * 0.005);
	       var r2 = Math.floor(Math.random()*100);
	       var lon = -122.60 + ((r2-50) * 0.005); 
	       var myLatlng = new google.maps.LatLng( lat, lon); 
	 
        	mMarkers[i] = new google.maps.Marker({
         	    position: myLatlng,
	            map: mMap,
	            title:'title',
	            icon: pinImage });
          
	        mMarkers[i].setMap(mMap);
	        google.maps.event.addListener(
	        	   mMarkers[i], 'click', function() { markerClick(this); });
	        	   
		      i = i + 1;
	        
	  }
	

	
		
	}
	
</script>



            </div>
			<div id="rightcol">
			<div data-hook="homepage_map">
	<div id="map_canvas" style="height:150px; width:150px;" />
</div>

</div>
        </div>	
</div>
    <div id="leftcol"></div>
</div>
	

