<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

 	  <% @items.each_with_index do |item, index | %>
      <%= render :partial => "shared/store_item", :locals => { :item => item, :index => index } %>
	  <% end %>
<%= paginate @items %>


 			</div>
			<div class="col2">
			</div>
			<div class="col3">
	  <div class="padding">
			<form accept-charset="UTF-8" action="/rents/new" method="get" style="margin:0;padding:0;display:inline">
					<button  type="submit" style="float:left;"  >
		Add Rental
		</button>
		</form>
      </div>
      <div data-hook="homepage_map" style="padding-top:10px;">
        <div id="map_canvas" style="height:200px; width:200px;" />
      </div>
      <div class="demo" style="width:200px;" >
<p>

	<label for="price">price:</label>
	<input type="text" id="price" style="border:0; color:#f6931f; font-weight:bold;" />
</p>
        <div id="slider-price"></div>
      </div>
      <div class="demo" style="width:200px;" >
<p>
	<label for="distance">distance:</label>
	<input type="text" id="distance" style="border:0; color:#f6931f; font-weight:bold;" />
</p>
        <div id="slider-distance"></div>
      </div>
    </div>

			</div>
		</div>
	</div>
</div>

 <div id="slider"></div>

	<style>
	#demo-frame > div.demo { padding: 10px !important;   };
	</style>

<style type="text/css">
div.padding {padding-bottom:1cm;}
div.padding2 {padding-top:50%;}
</style>


            </div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>

 
<script>(function($){
 $(document).ready(function(){

	// do stuff when div is ready
	var latlng = new google.maps.LatLng( 45.60, -122.60 );
	var myOptions = {
	  zoom: 8,
	  center: latlng,
	  disableDefaultUI: true,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	mMap = new google.maps.Map(document.getElementById("map_canvas"),
	    myOptions);
	    
	    
	loadMarkers();
	    
    	     
		
 });
})(jQuery);

    mItems = [
<% @items.each do |item | %>
<%=  raw "#{item.to_json}," %> 
<% end %>
   ];
      var pinColor = "FE7569";
      var pinColorSelected = "00FE69";
      var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
         new google.maps.Size(21, 34),
         new google.maps.Point(0,0),
         new google.maps.Point(10, 34));
      var pinImageSelected = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColorSelected,
         new google.maps.Size(21, 34),
         new google.maps.Point(0,0),
         new google.maps.Point(10, 34));

    selectIndex = -1;
    
    function  getItemLatLon(i)
    {
	   var lat = mItems[i].latlon[0];
	   var lon = mItems[i].latlon[1];
	   return myLatlng = new google.maps.LatLng( lat, lon); 
    }
	function markerClick( mark )
	{
	    for ( var m = 0; m < mMarkers.length; ++m )
	    {
	        if ( mMarkers[m] == mark ) 
	        {
	             selectMapItem(m);
	             return;
	        }
	    }
	}
	

  	function selectMarker(i)
  	{
  		
	   if ( selectIndex > -1 ) {
	     j = selectIndex;
	     mMarkers[j].setMap(null);
	     latlon = getItemLatLon(j);
  	     mMarkers[j] = new google.maps.Marker({
         	    position: latlon,
	            map: mMap,
	            title:'title',
	            icon: pinImage });
  	     mMarkers[j].setMap(mMap);   	   

	   }
       latlon = getItemLatLon(i);
  	   mMarkers[i].setMap(null);
  	   mMarkers[i] = new google.maps.Marker({
         	    position: latlon,
	            map: mMap,
	            title:'title',
	            icon: pinImageSelected });
  	   mMarkers[i].setMap(mMap);  
  	   mMap.setCenter(latlon);

  	   google.maps.event.addListener(
	       mMarkers[i], 'click', function() { markerClick(this); });
	        	   
  	   selectIndex = i;
  	}
  	
	function loadMarkers() {
	
	  mMarkers = new Array();
	  var i = 0;
	   for (i = 0; i < mItems.length; i++ ) {
	    
	    if ( mItems[i].latlon != null ) {
         var myLatLng = getItemLatLon(i);
       	mMarkers[i] = new google.maps.Marker({
         	    position: myLatlng,
	            map: mMap,
	            title:'title',
	            icon: pinImage });
          
	        mMarkers[i].setMap(mMap);
	        google.maps.event.addListener(
	        	   mMarkers[i], 'click', function() { markerClick(this); });
	    }    	   

	        
	  }
	

	
		
	}
	
</script>

	<script>
	$(function() {
		$( "#slider-price" ).slider({
			min: 5,
			step: 5,
			max: 150,
			values: [ 20, 50 ],
			slide: function( event, ui ) {
		         $( "#price" ).val( "$" + $( "#slider-price" ).slider( "values", 0 ) + " - $" + $( "#slider-price" ).slider( "values", 1 ) );

			}
		});
		$( "#price" ).val( "$" + $( "#slider-price" ).slider( "values", 0 ) + " - $" + $( "#slider-price" ).slider( "values", 1 ) );
	});
	$(function() {
		$( "#slider-distance" ).slider({
			min: 2,
			max: 100,
			values: [ 5 ],
			slide: function( event, ui ) {
				$( "#distance" ).val( ui.values[ 0 ] + " miles" );
			}
		});
		$( "#distance" ).val( $( "#slider-distance" ).slider( "values", 0 ) + " miles" );
	});
	</script>



   <style type="text/css">
    #slider { margin: 10px; }
</style>


