<div id="container">
		<div id="side-a">
	      <%= link_to image_tag(@item.store.user.avatar.url), store_path(@item.store) %>
	    <br/>
	      <br/>More Listings by <b><%= link_to "#{@item.store.name}", store_path(@item.store) %>
	     </b><br/><br/> Reviews, <br/>Endorsements, <br/>Verifications
		</div>
		
		<div id="content">
<p id="notice"><%= notice %></p>

<p>

<h2> <%= @item.title %>
</h2>
</p>

<p style="white-space:pre-wrap;">
  <%= @item.description %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<% if @item.photos.any? %>
<table><tr>

<% @item.photos.each do |photo| %>
  <td>
  <%= photo.title %>
  <br/>
  <%= image_tag(photo.image.thumb.url) %>
  <br/>
     </td>
<% end %>
<% end %>
</tr></table>


<% if @item.store.user == @user %>
<%= link_to "Edit" , edit_store_item_path(@item.store,@item) %>
<% else %>
<%= link_to 'Contact Owner', new_interest_path %>
<% end %>

		</div>
		
		<div id="side-b">
			(Similar Listings)
		</div>
	</div>
</div>
