%ul#menu{}
  %li#dashboard
    = link_to  "Dashboard" , "#"
  %li#inbox
    = link_to  "Inbox" , "#"
  %li#your-rentals
    = link_to  "Your Rentals" , "#"
  %li#account
    = link_to "Account", "#"
  %li#profile
    = link_to "Profile", "#"
  %li#find-rental
    = link_to "Find Rental", "#"