<div style="padding:45px;"></div>
<div id="dialog_box">
  <div id="dialog_header">
      <h2>Sign up</h2>
  </div>



<h2>Sign in</h2>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div class="label"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="label"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="label"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="label"><%= f.submit "Sign in" %></div>
<% end %>

  <div class="label">
   <%= render :partial => "devise/shared/links" %>
  </div>
</div>