

<%= form_for item, :url => iurl, :method => iact do |f| %>
<% if item.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

<ul>
<% item.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="field">
<%= f.label :active %>
<%= f.check_box :active %>
</div>
<div class="field">
<%= f.label :cost %><br />
<%= f.text_field :cost %>
</div>
<div class="field">
<%= f.label "Zip Code" %><br />
<%= f.text_field :location %>
</div>
<div class="field">
<%= f.label :title %><br />
<%= f.text_field :title %>
</div>
<div class="field">
<%= f.label :description %><br />
<%= f.text_area :description, :cols => 100, :rows => 20  %>
</div>


<table>
<tr>
<td><b>Who can see your item</td>
</tr>
<% item.item_user_groups.each do |g| %>
<tr>
<td>
<%= render :partial => "shared/usergroup_item", :locals => { :usergroup => g, :user => item.store.user } %>
</td>
</tr>
<% end %>
</table>

<div class="actions">
<%= f.submit %>
</div>
<% end %>