

<%= form_for item, :url => iurl do |f| %>
<% if item.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

<ul>
<% item.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="field">
<%= f.label :active %>
<%= f.check_box :active %>
</div>
<div class="field">
<%= f.label :cost %><br />
<%= f.text_field :cost %>
</div>
<div class="field">
<%= f.label "Zip Code" %><br />
<%= f.text_field :location %>
</div>
<div class="field">
<%= f.label :title %><br />
<%= f.text_field :title %>
</div>
<div class="field">
<%= f.label :description %><br />
<%= f.text_area :description, :cols => 100, :rows => 20  %>
</div>


<table>
<td><b>Who can see your item</td>
<tr>
<td>Everyone who can visit my store</td>
</tr>
<tr>
<td>All RenterSwap Users</td>
</tr>
<tr>
<td>All My Facebook Friends</td>
</tr>
<tr>
<td>Only these RenterSwap Users</td>
</tr>
</table>

<div class="actions">
<%= f.submit %>
</div>
<% end %>