<!DOCTYPE html>
<html>
<head>
  <title>Renters Swap</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
 
  <%= csrf_meta_tags %>
</head>


<body>
<div id="pagewidth" > 
<div>
	  <div class='left'>
	  	    <div id="header_left">
<%= link_to image_tag('logo.png'), root_path %>
	  	    </div>
	  </div>

      <div class='right'>
	    <div id="header_right">
	      <ul class="hmenu">
            <%= render 'shared/navigation' %>
          </ul>
        </div>
      </div>
</div>

<%= yield %>
	<div id="footer" >
	   <br/>
	   <ul class="fmenu">
	   	   <li><%= link_to "Contact", "#" %></li>
	   	   <li><%= link_to "About", "#" %></li>
	   	   <li><%= link_to "Safety", "#" %></li>

	   	   	   	   <li><%= link_to "Terms and Conditions", "#" %></li>
	   	   	   	   <li><%= link_to "Help", "#" %></li>
	   </ul>
	</div>


</body>
</html>
